// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$link-grey: #C1C0B9;
$gradient: -webkit-linear-gradient(left, #6a11cb, #2575fc);
$reverse-gradient: -webkit-linear-gradient(left, #2575fc, #6a11cb);
