<div class="navbar-fixed-bottom">
  <div class="navbar-links">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="navbar-copyright">
   <h1>Made by © Voluntary, Inc. with <i class="fa fa-heart"></i></h1>
  </div>
</div>
