h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 25px;
}

.hint-text {
  color: white
}

.form-control {
  border-radius: 7px;
}

.form-actions {
  margin-bottom: 10px;
}

.btn {
  background: $reverse-gradient !important;
  color: white;
  border-radius: 7px;
  border-style: none;
  margin-bottom: 10px;
}

.btn:hover {
  color: $link-grey;
}

a {
  color: white;
  font-size: 16px;
  }

a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}
